.quiz__card{
    padding: 0 2%;
    .card__question{
        color: #0F0744;;
        font-size: 20px;
        text-align: center;
    }
    .card__answer{
        margin: 2% 5%;
        display: flex;
        .answer{
            margin: 10px 40px;
            .card__btn{
                height: 100px;
                width: 300px
            }
        }
    }
}