.quiz {
	padding: 2% 5%;
	.quiz__start {
		text-align: center;
		.start__h3 {
			margin-top: 10px;
			color: #0f0744;
		}
		.start__btn {
            padding: 8px 30px;
            border: none;
            background-color: #F26335;
            color: #fff;
            border-radius: 5px;
		}
	}
    .quiz__score{
        text-align: center;
    }
    .loader{
        text-align: center;
        margin-top: 40px;
    }
}
