.quiz {
	padding: 2% 5%;
	.quiz__start {
		text-align: center;
        @media(max-width: 425px){
            padding-top: 90px;
        }
		.start__h3 {
			margin-top: 10px;
			color: #0f0744;
            @media(max-width: 425px){
                margin-top: 30px;
            }
		}
		.start__btn {
            padding: 8px 30px;
            border: none;
            background-color: #F26335;
            color: #fff;
            border-radius: 5px;
		}
	}
    .quiz__score{
        text-align: center;
    }
    .hide{
        display: none;
    }
    .loader{
        text-align: center;
        margin-top: 40px;
        @media(max-width: 425px){
            margin-top: 200px;
        }
        .quiz__p{
            font-weight: bold;
        }
    }
    .quiz__function{
        display: flex;
        margin: 0 8%;
        justify-content: space-between;
        .card__number{
            font-size: 18px;
            font-weight: medium;
            color: #0f0744;
        }
        .hide{
            display: none;
        }
        .quiz__next{
            background-color: #F26335;
            color: #fff;
            border-radius: 5px;
            padding: 10px 50px;
            border: 1px solid #F26335;
        }
    }
    .analysis{
        width: 30%;
        margin: 0% auto;
        padding: 30px 5px;
        box-shadow: 2px 2px 0px #000000;
        text-align: center;
        border-radius: 10px;
        border: 1px solid #fafafa;
        @media(max-width: 1024px){
            width: 50%;
        }
        @media(max-width: 425px){
            width: 100%;
            box-shadow: none;
            padding: 70px 10px;
        }
        .analysis__score{
            font-weight: bold;
        }
        .score{
            color: #F26335;
            font-size: 120px;
            @media(max-width: 425px){
                font-size: 180px;
            }

        }
        .analysis__remark{
            font-weight: bold;
            @media(max-width: 425px){
                font-size: 22px;
            }
            .remark__bad{
                color: #f11212;
            }
            .remark__better{
                color:#F26335;
            }
            .remark__good{
                color: #0E812E;
            }

        }
        .analysis__mark{
            margin-top: 20px;
            @media(max-width: 425px){
                margin-top: 40px;
                font-size: 18px;
            }
            .mark__title{
                font-weight: 500;
            }
            .mark__info{
                font-size: 14px;
                display: flex;
                justify-content: space-between;
                margin: 10px 20px;
                @media(max-width: 425px){
                    font-size: 18px;
                    margin: 20px 0px;
                }
            }
        }
        .play__again{
            margin-top: 10px;
            .again__btn{
                color: #fff;
                background-color: #F26335;
                border: none;
                padding: 10px 40px;
                border-radius: 5px;
                margin-top: 20px;
                @media(max-width: 425px){
                    padding: 20px 70px
                }
            }
        }
    }
}
